@import '../variables';

.container{
  display: flex;
  height: 100vh;
  background: linear-gradient(180deg, #33383D 0%, #1C1D20 100%);
  .content{
    width: 50vw;
    height: 80vh;
    margin: auto;
    color: $light;
    .intro{
      width: 50%;
      margin: 0 auto max(2.5rem, 3.33vw) auto;
      .intro__title{
        font-size: max(2.75rem, 3.125vw);
        margin-bottom: 1rem;
      }

      .intro__subtitle{
        width: 80%;
      }
    }

    .login{
      width: 50%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      .login__title{
        font-size: 1.875rem;
      }
      .input-login{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: max(2rem, 4vw);
        .input-login__user{
          display: flex;
          align-items: center;
          position: relative;
          &:after{
            content: url(../../../../assets/img/user.svg);
            margin-left: 1rem;
          }
        }
        .input-login__user--special{
          display: flex;
          align-items: center;
          position: relative;
          &:after{
            content: url(../../../../assets/img/user.svg);
            position: absolute;
            right: 20px;
          }
        }
        .input-login__password{
          display: flex;
          align-items: center;
          &:after{
            content: url(../../../../assets/img/lock.svg);
            margin-left: 1rem;
          }
        }
        .input-login__password--special{
          display: flex;
          align-items: center;
          position: relative;
          &:after{
            content: url(../../../../assets/img/user.svg);
            position: absolute;
            right: 20px;
          }
        }
      }
      .login__button{
        background: $linear-red;
        padding: 1.5rem;
        border-radius: 50px;
        border: none;
        font-size: 1.125rem;
        font-weight: 700;
        color: $light;
        cursor: pointer;
        box-shadow: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.5));
      }
      .message-warning{
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 700;
        color: $yellow;
        text-align: center;
        width: 80%;
        margin: 0 auto;
      }
    }
  }
  .ilustration{
    background: url(../../../../assets/img/bg-login.png) no-repeat;
    background-size: cover;
    width: 50vw;
    .ilustration__logo{
      display: block;
      margin: 2.25rem auto 0 auto;
    }
  }
}