@import './partials/variables';
@import './partials/pages/home';
@import './partials/pages/login';

body{
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p, input, span{
  font-family: 'Poppins', sans-serif;
}

a{
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

h3{
  line-height: 4.25rem;
}

p{
  line-height: 1.5rem;
}

input{
  background: transparent;
  padding: 1.25rem;
  border: 2px solid $light;
  border-radius: 50px;
  outline: none;
  color: $light;
  width: 100%;
  &::placeholder{
    color: $light;
  }
}

.anchor{
  font-family: 'Poppins', sans-serif;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.waring{
  border: 1px solid $yellow;
}